/* GENERAL */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Ubuntu', sans-serif;
	background-color: #404d63;
}

h1 {
	text-align: center;
	color: #fff;
	text-transform: uppercase;
}

/* FORM */ 

form {
	text-align: center;
	max-width: 320px;
	margin: 0 auto;
	padding: 20px 15px;
	color: #404d63;
	background-color: #fff;
}

fieldset {
	text-align: left;
	border: none;
	margin: -12px;
}

p {
	border-bottom: 4px solid #404d63;
	padding-bottom: 35px;
}

legend {
	border-top: 2px solid #404d63;
	padding: 20px 0 1px 0;
	width: 100%;
	font-weight: bold;
	font-size: 1.3em;
}

label {
	display: block;
	margin: 10px 0 8px 0;
}

label, p, h3 {
	color: #8e99ad;
}

/* FIELDSET 1 */

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
	width: 100%;
	background-color: #c9d1dd;
	border: none;
	margin-top: 10px;
	margin-bottom: 15px;
	border-radius: .5em;
	height: 2.5em;
	font-size: 1em;
}

#zip-code {
	width: 50%;
	margin-right: 50%;
	margin-bottom: 30px;
}

select {
	color: #717272;
}

input[placeholder="Required"] {
	text-align: right;
	padding-right: 10px;
	font-style: italic;
}

input:focus, select:focus, textarea:focus {
	outline: 0;
	transition: background-color .5s;
	background-color: #edeff2;
	box-shadow: 0 0 3px #515151;
}

input:hover, select:hover, textarea:hover {
	transition: background-color .3s;
	background-color: #edeff2;
}

input:required:valid {
	border: solid 3px #32bca6;
}

::-webkit-input-placeholder {
	color: #717272;
}

/* FIELDSET 2 */ 

input[type="checkbox"],
input[type="radio"] {
	margin: 5px 0 2px 0;
}

.inline {
	display: inline-block;
	margin-left: 10px;
}

textarea {
	height: 7em;
}

textarea[placeholder] {
	padding: 10px;
}

button {
	background-color: #32bca6;
	color: #fff;
	width: 100%;
	padding: 15px 20px;
	border: none;
	border-radius: 0.5em;
	font-size: 1.2em;
	margin-top: 15px;
}

h3 {
	font-style: italic;
	font-size: 0.8em;
	margin-top: 20px;
	margin-bottom: 80px;
}

/* MEDIA QUERY */

@media (min-width: 768px) {
	
	form {
		min-width: 600px;
	}

	.info {
		width: 30%;
		margin-bottom: 40px;
		margin-top: 20px;
		display: inline-block;
	}

	#zip-code {
		width: 30%;
		margin-right: 40%;
	}

	input[type="text"],
	input[type="email"],
	input[type="tel"],
	select {
		width: 70%;
		display: inline-block;
		float: right;
	}
}